[submodule "mol-training-blog"]
	path = mol-training-blog
	url = https://github.com/MonteLogic/mol-training-blog.git
[submodule "MoL-blog-content"]
	path = MoL-blog-content
	url = https://github.com/MonteLogic/MoL-blog-content.git
